<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property resource="META-INF/build-info.properties"/>
    <property name="appVersion" value="${build.version:-dev}"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}){faint} %clr(%5p) %clr(v${appVersion}){yellow} %clr([%t]){faint} %clr(%logger{36}){cyan} : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
